<div class="chat__input-wrap chat__input-wrap--error">
  <input 
    type="{{type}}" 
    id="{{id}}"
    name="{{name}}" 
    placeholder="{{placeholder}}"
    class="chat__input-control chat__input-control--{{variant}}"
    value="{{value}}"
  />

  <span class="chat__input-text-error">{{error}}</span>
</div>