<div class="chat__input-wrap">
  <input 
    type="{{type}}" 
    id="{{id}}"
    name="{{name}}" 
    placeholder="{{placeholder}}"
    class="chat__input-control chat__input-control--{{variant}}"
    value="{{value}}"
  />
</div>